<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Genitive case</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Genitive case</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>About</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Indicates ownership or attribution, denoting the word "of" or the apostrophe "s" in english.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Usage</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>To highlight ownership (that is, that someone or something 'owns', 'possesses' or 'belongs to' something else), or a type of relationship between two people or things.</h2>
            <p>- Это моя книга.</p>
            <p>- Это брат Кристофера.</p>
            <p>- Прибыл министр образования.</p>
            <p>- Укусы комаров чешутся!</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>In constructions indicating possession using a construction equivalent to the English "I have (got)" or "I own".</h2>
            <p>- <b>У меня есть</b> несколько домов в этом районе.</p>
            <p>- <b>У неё есть</b> собака.</p>
            <p>- <b>У них есть</b> две машины.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>In negative constructions indicating possession using a construction equivalent to the English "I haven't" got or "I don't have".</h2>
            <p>- <b>У меня нет гитары</b>.</p>
            <p>- <b>У дома нет балкона</b>.</p>
            <p>- <b>У них нет детей</b>.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Following the negation of transitive verbs which normally take the accusative case, where the object is an abstract or unspecified thing.</h2>
            <p>- Это <b>ничего не</b> доказывает!</p>
            <p>- Я <b>не</b> сделал <b>ни</b> одной ошибки.</p>
            <p>- Я стараюсь избегать <b>мяса</b>.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>To indicate the origin or starting point of a motion or movement with the prepositions из, с and от.</h2>
            <p>- Я только что вернулся <b>с работы</b>.</p>
            <p>- Я прилетел в Москву <b>из Лондона</b>.</p>
            <p>- Он прячется <b>от полиции</b>.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>You should use the genitive case for words, where in English you could place "some" or "any" before them.            </h2>
            <p>- У меня есть <b>несколько яблок</b>, если хотите.</p>
            <p>- Может, вам налить <b>соку</b>?</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pronouns</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Я -> меня</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Ты -> тебя</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Он/она -> Его/Её</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Мы -> нас</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Вы -> вас</h2>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <h2>Они -> них</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Genders</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <table>
        <thead>
          <tr>
            <td>Gender</td>
            <td>Rule</td>
            <td>Example</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="4"><b>Masc</b></td>
            <td>-consonant -> +а</td>
            <td>лук -> лук<span class="underline">а</span></td>
          </tr>
          <tr>
            <td>-й -> -я</td>
            <td>чай -> ча<span class="underline">я</span></td>
          </tr>
          <tr>
            <td>-ь -> -я</td>
            <td>уголь -> угол<span class="underline">я</span></td>
          </tr>
          <tr>
            <td>-а -> -ы</td>
            <td>папа -> пап<span class="underline">ы</span></td>
          </tr>
          <tr><td colspan="3"><br/></td></tr>
          <tr>
            <td rowspan="3"><b>Fem</b></td>
            <td>-a -> -ы</td>
            <td>ручка -> ручк<span class="underline">а</span></td>
          </tr>
          <tr>
            <td>-я -> -и</td>
            <td>кухня -> кухн<span class="underline">и</span></td>
          </tr>
          <tr>
            <td>-ь -> -и</td>
            <td>ночь -> ноч<span class="underline">и</span></td>
          </tr>
          <tr><td colspan="3"><br/></td></tr>
          <tr>
            <td rowspan="3"><b>Neuter</b></td>
            <td>-о -> -а</td>
            <td>дерево -> дерев<span class="underline">а</span></td>
          </tr>
          <tr>
            <td>-е -> -я</td>
            <td>солнце -> солнц<span class="underline">е</span></td>
          </tr>
          <tr>
            <td>-мя -> -мени</td>
            <td>имя -> и<span class="underline">мени</span></td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Plural</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <table>
        <thead>
          <tr>
            <td>Gender</td>
            <td>Rule</td>
            <td>Example</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="4"><b>Masc</b></td>
            <td>-ж,ч,ш,щ,ь -> +ей</td>
            <td>врач -> врач<span class="underline">ей</span></td>
          </tr>
          <tr>
            <td>-й,ц -> -ев</td>
            <td>музей -> музе<span class="underline">ев</span></td>
          </tr>
          <tr>
            <td>-a -> -Ø</td>
            <td>пап<span class="underline">а</span> -> пап</td>
          </tr>
          <tr>
            <td>-other -> -ов</td>
            <td>кот -> кот<span class="underline">ов</span></td>
          </tr>
          <tr><td colspan="3"><br/></td></tr>
          <tr>
            <td rowspan="4"><b>Fem</b></td>
            <td>-a -> -Ø</td>
            <td>мам<span class="underline">а</span> -> мам</td>
          </tr>
          <tr>
            <td>-consonant+я -> -consonant+ь</td>
            <td>княги<span class="underline">ня</span> -> княги<span class="underline">нь</span></td>
          </tr>
          <tr>
            <td>-vowel+я -> -vowel+й</td>
            <td>фе<span class="underline">я</span> -> фе<span class="underline">й</span></td>
          </tr>
          <tr>
            <td>-ь -> -ей</td>
            <td>ноч<span class="underline">ь</span> -> ноч<span class="underline">ей</span></td>
          </tr>
          <tr><td colspan="3"><br/></td></tr>
          <tr>
            <td rowspan="3"><b>Neuter</b></td>
            <td>-о -> -Ø</td>
            <td>окн<span class="underline">о</span> -> окн</td>
          </tr>
          <tr>
            <td>-ие -> -ий</td>
            <td>здан<span class="underline">ие</span> -> здан<span class="underline">ий</span></td>
          </tr>
          <tr>
            <td>-е -> -ей</td>
            <td>мор<span class="underline">е</span> -> мор<span class="underline">ей</span></td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>
