<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Languages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item (click)="goTo('nominative-case')" detail="true">
      <ion-label>
        <ion-text>Nominative case</ion-text>
      </ion-label>
    </ion-item>
    <ion-item (click)="goTo('genitive-case')" detail="true">
      <ion-label>
        <ion-text>Genitive case</ion-text>
      </ion-label>
    </ion-item>
    <ion-item (click)="goTo('verb-spelling')" detail="true">
      <ion-label>
        <ion-text>Verb spelling</ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
